.contextmenu {
	padding-top: 10px;
	padding-bottom: 10px;
	font-family: 'Geometria';
	position: absolute;
	width: 150px;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.9);
	box-shadow: 0px 10.2677px 19.7841px rgba(0, 0, 0, 0.175), 0px 3.71362px 7.1555px rgba(0, 0, 0, 0.121944);
}

.item {
	height: 30px;
	cursor: pointer;
	font-size: 18px;
	padding-left: 10px;
}

.item:hover {
	height: 30px;
	padding-left: 10px;
	background-color: rgb(230, 240, 255);
}

.item:last-child {
	padding-left: 0;
	text-align: center;
}

.item:last-child:hover {
	cursor: default;
	background-color: rgba(255, 255, 255, 0.0);
}